body {
		background: #C5E9ED;
		line-height: 150%;
		font: caption;
		margin: 0;
	}
body:lang(TWN) {
		// <uniquifier>: Use a unique and descriptive class name
		// <weight>: Use a value from 100 to 900
		
		.noto-sans tc-<uniquifier> {
  			font-family: "Noto Sans TC", sans-serif;
  			font-optical-sizing: auto;
  			font-weight: <weight>;
  			font-style: normal;
		}
}

body:lang(CMN) {
		// <uniquifier>: Use a unique and descriptive class name
		// <weight>: Use a value from 100 to 900
		
		.noto-sans tc-<uniquifier> {
  			font-family: "Noto Sans TC", sans-serif;
  			font-optical-sizing: auto;
  			font-weight: <weight>;
  			font-style: normal;
		}
}
body:lang(ENG) {

		// <uniquifier>: Use a unique and descriptive class name
		// <weight>: Use a value from 100 to 900
		
		.noto-sans tc-<uniquifier> {
  			font-family: "Noto Sans TC", sans-serif;
  			font-optical-sizing: auto;
  			font-weight: <weight>;
  			font-style: normal;
		}
}
h1 {
	color: #080808;
	font-weight: bolder;
	font-size: 200%;
}
p {
	color: #1C1C1C;
	font-size: 100%;
}
ul.a {
        list-style-type: none;
        margin: 0;
        padding: 0; 
        overflow: hidden;
        background-color: #305A56;
        width: 100%;
    }
    li.a {
        float: left;
    }
    li.a a {
        display: block;
        color: #FCFAF2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    li.a a:hover:not(.active) {
        background-color: #C5E9ED;
        color: #305A56;
    }
    .active {
        background-color: #04AA6D;
    }
    il {
        list-style-type: circle;
    }
 	@media screen and (max-width: 800px) {

        .a {
            width: 100%;
            padding: 0;
        }
    }
    @media screen and (max-width: 400px) {
        .a {
            float: none;
            width: 100%;
        }
